{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %}
{% block title %}Login - Kenson Manduyag{% endblock %}
{% block content %}
<h1 class="page-title">Login</h1>
<p class="page-subtitle">Welcome Back!</p>

<div class="row mx-auto col-lg-4 col-md-6" style="text-align: left;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <p class=flashes style="color:red; text-align: center;">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </p>
    {% endif %}
    {% endwith %}
    {{ render_form(form) }}
    <a
            class="btn btn-link"
            data-nav
            data-path="{{ url_for('main.register') }}"
            href="{{ url_for('main.register') }}" style="color:grey">
        Don't have an account? Register here
    </a>
</div>
{% endblock %}